<!DOCTYPE html>
<html>
<head>
    <title>导出页面</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>

    <script>
  $(document).ready(function(){
     $(".export").click(function(){
       window.open("/export?date="+$("#date").val());
    });
  });

    function go_index(){
        window.location.href="/index";
    }

    </script>
</head>
<div class="container mt-3">
    <h2>分析数据下载</h2>
    <form action="">
        <div class="mb-3 mt-3">
            <label for="date" class="form-label">数据日期:</label>
            <input type="input" class="form-control" id="date" placeholder="标准格式：2022-12-10" name="date">
        </div>
        <div class="container mt-3">
            <button type="button" class="btn btn-primary export">数据下载</button>
            <button type="button" class="btn btn-secondary" onclick="go_index()">返回上级页面</button>
        </div>
    </form>
</div>
</body>
</html>